openapi: 3.0.0
info:
  title: week-10-mnajmytsss
  version: 1.0.0
servers:
  - url: https://encouraging-gilet-dove.cyclic.cloud/
    description: 'Development server'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer with JWT Token'
paths:
  /auth/register:
    post:
      summary: Register user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  pattern: "^[a-zA-Z0-9]*$"
                  minLength: 8
                role:
                  type: string
      responses:
        '200':
          description: Success

  /auth/login:
    post:
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Success

  /v1/transfers:
    post:
      summary: Create transfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                currency:
                  type: string
                sourceAccount:
                  type: string
                destinationAccount:
                  type: string
      responses:
        '200':
          description: Success

  /v1/transfers/s:
    get:
      summary: Get all transfers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success

  /v1/transfers/{transferIdit}:
    put:
      summary: Update transfer
      parameters:
        - name: transferIdit
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                currency:
                  type: string
                sourceAccount:
                  type: string
                destinationAccount:
                  type: string
                status:
                  type: string
      responses:
        '200':
          description: Success
  /v1/transfers/{transferId}:
    patch:
      summary: Update transfer status
      parameters:
        - name: transferId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: Success

    delete:
      summary: Delete transfer
      parameters:
        - name: transferId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success

security:
  - bearerAuth: []

